version: '3.8'

services:
  web:
    build: .
    command: gunicorn systeme_notification.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./systeme_notification:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=notificationdb
      - POSTGRES_USER=notifuser
      - POSTGRES_PASSWORD=notifpass123

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
